*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url("https://png.pngtree.com/background/20230522/original/pngtree-an-old-style-library-with-shelves-full-of-books-picture-image_2693166.jpg");
    background-size: cover;
}

div{
    position: relative;
    width: 260px;
    margin-left: 60px;
    margin-top: 50px;
    transition: all .3s ease;
    display: inline-block;
}

div img:first-child{
    width: 100%;
    box-shadow: 10px 10px 10px 8px black;
    object-fit: cover;
    border-radius: 15px;
}
div img:last-child{
    opacity: 0;
    width: 230px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition:  .3s ease;
    transform: translateY(0%);
    margin: auto;
    filter: drop-shadow(15px 15px 15px black);
}

div:hover{
    transform:
    perspective(270px) 
    rotateX(15deg)
    translateZ(0)
    /* giro la imagen hacia atras */
    translateY(-2%);
}
div::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 10% rbga(51,50,50, 0.5) rgb(53,53,57)98%
    );
    opacity: 0;
    transition: all .3s ease;
    backdrop-filter: blur(1px);
}

div:hover::before{
    opacity: 1;

}

div:hover img:last-child{
    opacity: 1;
}